*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
}

.container
{
    margin: 0 auto;
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    height: 80vh;
    width: 80%;
    border-radius: 20px;
    color: #008000;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    padding: 0px;
}
.inputs
{
    font-size: 1em;
    width: 60%;
    height: 100%;
}
@media screen and (max-width:600px){
    .inputs{width: 60%; min-width: none;}
    .input{width:8%}
    .contain .inputs{align-self: baseline;}
}
.inputs::placeholder
{
    color: #008000;
    text-align: center;
    font-style: oblique;
    text-transform: capitalize;
    
}
@property --angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.container::after, .container::before
{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,orange,yellow,green,blue,indigo,violet,red);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s rotate linear infinite;
   
}
.container::before
{
    filter: blur(2rem);
    opacity: 0.8;
}
@keyframes rotate
{
    from
    {
        --angle:0deg;
    }
    to
    {
        --angle:360deg;
    }
}
#Display
{
    margin: 30px;
    text-align: center;
}
.contain
{
    display: flex;
    font-size: 3em;
    height: 10%;
    width: 80%;
    border-image: conic-gradient(from var(--angle),red,orange,yellow,green,blue,indigo,violet,red) 1 round;
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    color: #035003;
    text-align: center;
    font: caption;
    text-transform: uppercase;
    animation: 3s rotate linear infinite;
    background-color: aliceblue;
    justify-items: auto;
    
}
input{border: solid aliceblue; background-color: aliceblue; width: auto; height: 75%; margin-left: 5px;}

#Init ,#EventName,#Penalty
{
    height: 10%;
    min-width: 80%;
    margin: 3px;
    border-image: conic-gradient(from var(--angle),red,orange,yellow,green,blue,indigo,violet,red) 1 round;
    border-style: solid;
    border-width: 2px;
}

